@model EPiServer.Reference.Commerce.Site.Features.Agenda.Pages.AgendaPage
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="category-page">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <h2>
                @Html.PropertyFor(x => x.PageTitle)
            </h2>
        </div>
    </div>
    @Html.PropertyFor(x => x.MainContentArea, new { CssClass = "row span8" })
    @Html.PropertyFor(x => x.SideBar, new { CssClass = "row span4" })

</div>